/* selector + propiedad + valor */

/* paleta de colores
083358  rgb(8, 51, 88)
0F4471  rgb(15, 68, 113)
FC3C3C  rgb(252, 60, 60)
F6F6F6  rgb(246, 246, 246)
/*




/*Generales Sitio*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*navbar*/



.navbar-expand-lg .navbar-collapse {
    display: flex;
    justify-content: flex-end;

}

/* Footer */

footer { 
    background-color:#f6f6f6 ;
    height: 10rem;
    padding-top: 2%;
    

}

footer h3{
    text-align: center;

}


.redes h3{
    text-align: center;
    
}

.redes{

    display: flex;
    justify-content: center;
    align-items: center;

    height: 5rem;
    width: 100%
}


.img_redes {
    margin: 20px;
    
    display: flex;
   
    height: 2rem;
    
    
}



/* index */

/* index Grid */

.index_grid{

    border-top: outset;
    
    display: grid;

    grid-template-areas:
    "carrusel textoc"
    "titulo titulo"
    "marcas marcas";

    grid-template-columns: 2fr 1fr;

    grid-template-rows: 1fr 5% 1fr;
    
    justify-items: center;
    align-items: center;

}

.carrusel_grid{
    grid-area: carrusel;
    padding: 3%;
    width: 100%; 
    
}

.carruteltext_grid{ 
    grid-area: textoc;
    width: 100%;
    
}

.titulo_marcas{
    grid-area: titulo;
}


/* Grid Marcas */



.grid_marcas{
    
    border-top: outset;
    border-bottom: outset;
    

    grid-area: marcas;
    
    display: grid;
    
    grid-template-areas: 
    "marca1 marca2 marca3"
    "texto1 texto2 texto3"
    "marca4 marca5 marca6"
    "texto4 texto5 texto6";

    grid-template-columns: 1fr 1fr 1fr;

    grid-template-rows: 45% 5% 45% 5%;

    
    width: 100%; height: 100%; padding: 3%  

}

.marca1{grid-area: marca1;}

.texto1{grid-area: texto1;}

.marca2{grid-area: marca2;}

.texto2{grid-area: texto2;}

.marca3{grid-area: marca3;}

.texto3{grid-area: texto3;}

.marca4{grid-area: marca4;}

.texto4{grid-area: texto4;}

.marca5{grid-area: marca5;}

.texto5{grid-area: texto5;}

.marca6{grid-area: marca6;}

.texto6{grid-area: texto6;}

.grid_marcas img{
    width: 100%; height: 100%; padding: 10%;
}

.grid_marcas li{
    text-align: center;
    list-style: none;
}

/* Catalogo */


/* Catalogo Grid */

.h1_catalogo{
    text-align: center;
    padding-top: 3%;
}

@media(max-width: 599px){


.catalogo_grid{

    display: flex;
    
    flex-wrap: wrap;

    flex-direction: column;

    align-items: center;

    align-content: space-around;

    justify-content: space-around;

    justify-items: center;

    width: 100%;
    
    padding-bottom: 15%;}

    .card-img-top{
        height: 12rem;
        width: 100%;
    }


    .card1{
        height: auto;
        width: auto;
        padding: 2rem;
        

    }
    .card2{
        
        padding: 2rem;

    }

    .card3{
        
        padding: 2rem;
    }

    .card4{
        
        padding: 2rem;
    }

}

@media (min-width: 600px) {

.catalogo_grid{
    display: grid;

    grid-template-areas: 
    "modelo1 modelo2"
    "modelo3 modelo4";

    grid-template-columns: 1fr 1fr ;

    grid-template-rows: 1fr 1fr;

    
    justify-items: center;

    padding: 10%;

}

.card-img-top{
    height: 12rem;
    width: 100%;
}


.card1{
    grid-area: modelo1;
    
    

}
.card2{
    grid-area: modelo2;
    margin-bottom: 2rem;

}

.card3{
    grid-area: modelo3;
    margin-bottom: 5%;
}

.card4{
    grid-area: modelo4;
    margin-bottom: 2rem;
}


}



/* Cotizacion */

.h1_cotizacion{
    text-align: center;
}

.cotizador{

    border-style: outset;
    
    padding: 10%;

    display: flex;

    flex-direction: column;

    justify-content: center;
    
    align-items: center;

   
}

/* Contacto */

.contacto_main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
}
