// ==========================
// MARCAS
// ==========================
.grid_marcas {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  padding: 2rem;

  li {
    text-align: center;
    font-weight: bold;
  }

  img {
    width: 100px;
    display: block;
    margin: 0 auto;
  }
}

.titulo_marcas {
  text-align: center;
  font-size: 1.6rem;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .grid_marcas {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding: 1rem;
  }

  .titulo_marcas {
    font-size: 1.3rem;
  }
}