
// Variables Gral //

$color-principal: #f5f5f5;
$color-texto: #212529;
$color-navbar: #ffffff;
$color-footer: #333;
$color-hover: #e2e2e2;
$fuente-principal: 'Segoe UI', Tahoma, Verdana, sans-serif;