
// Variables Gral //

$color-principal: #045c7c;
$color-texto: #212529;
$color-navbar: #045c7c;
$color-footer: #ec8c64;
$color-hover: #b48cac;
$fuente-principal: 'Segoe UI', Tahoma, Verdana, sans-serif;